{% extends "layout.html" %}
{% block title %}Metrics{% endblock %}
{% block head %}
        {{ super() }}
        <script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='mustache.js') }}"></script>
        <script src="http://mbostock.github.com/d3/d3.v2.js"></script>
        <script src="{{ url_for('static', filename='metrics.js') }}"></script>
        <script>
        function send(entityid, checkid) {
            var start = new Date(document.graphsettings.starttime.value).getTime();
            var end = new Date(document.graphsettings.endtime.value).getTime();
            var density = document.graphsettings.density.value;
            var metrics = document.graphsettings.metrics.value;
            
            qs = { 'starttime': start, 'endtime': end, 'density': density }
            
            getMetrics(entityid, checkid, metrics, qs);
        }
        function paddingFilter(strIn) {
            return ("0" + strIn).slice(-2);
        }
        function dateToForm(date) {
            var YY = date.getFullYear();
            var MM = paddingFilter(date.getMonth() + 1);
            var DD = paddingFilter(date.getDate());
            var HH = paddingFilter(date.getHours());
            var mm = paddingFilter(date.getMinutes());
            var ss = paddingFilter(date.getSeconds());
            
            return [YY, MM, DD].join("-") + "T" + [HH, mm, ss].join(":");
        }
        var today = new Date();
        var yesterday = new Date();
        yesterday.setDate(today.getDate() - 1);
        </script>
		<style>
			/* tell the SVG path to be a thin blue line without any area fill */
			path {
				stroke-width: 1;
				fill: none;
			}
			
			.data1 {
				stroke: green;
			}

			.data2 {
				stroke: orange;
			}
			
			.data3 {
			    stroke: blue;
		    }
		    
		    .data4 {
		        stroke: purple;
	        }
	        
	        .data5 {
	            stroke: brown;
            }
            
            .data6 {
                stroke: CadetBlue;
            }
            
            .data7 {
                stroke: SlateBlue;
            }
			
			.axis {
			  shape-rendering: crispEdges;
			}

			.x.axis line {
			  stroke: lightgrey;
			}

			.x.axis .minor {
			  stroke-opacity: .5;
			}

			.x.axis path {
			  display: none;
			}
			
			.x.axis text {
				font-size: 10px;
			}

			.y.axis line, .y.axis path {
			  fill: none;
			  stroke: #000;
			}
			
			.y.axis text {
				font-size: 12px;
			}
			
			select, input {
			    margin-right: 35px;
			    display: inline;
		    }
		</style>
{% endblock %}
{% block content %}
<h1>{{ check['label']|e }}</h1>
{% if check['monitoring_zones_poll'] is iterable() %}
{% for mz in check['monitoring_zones_poll']|sort %}
{{ mz|e }}
{% endfor %}
{% endif %}
<div id="graph" class="aGraph"></div>

<form name="graphsettings">
    Start (UTC) <input type="datetime" name="starttime" size="22" required>
    End (UTC) <input type="datetime" name="endtime" size="22" required>
    Metric <select name="metrics">
    {% for metric in metrics['values']|sort(attribute='name') %}
    <option>{{ metric['name']|e }}</option>
    {% endfor %}
    </select>
    Zoom <input type="range" name="density" min="5" max="1000" step="100" onChange="send('{{ entityid|e }}', '{{ check['id']|e }}');">
    <input type="button" value="Draw" onClick="send('{{ entityid|e }}', '{{ check['id']|e }}');">
</form>

<div id="rawmetricsTarget"></div>
{% raw %}
<script type="text/html" id="rawmetrics">
<h5>Showing {{metadata.count}} points</h5>
<hr/>
{{#values}}
Avg: {{average}} | Points: {{numPoints}} | Timestamp: {{timestamp}}<br/>
{{/values}}
</script>
{% endraw %}

<script>
document.graphsettings.starttime.value = dateToForm(yesterday);
document.graphsettings.endtime.value = dateToForm(today);
</script>
{% endblock %}