{% extends "layout.html" %}
{% block title %}Overview{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Entity</th>
        <th colspan="0">Latest Alarm Statuses</th>
    </tr>
    {% for value in values %}
    <tr>
        <td>{{ value['entity']['label']|e }}</td>
        {%- for l in value['latest_alarm_states'] -%}
        <td>
        <a href="{{ url_for('alarm', entityid=l['entity_id'], alarmid=l['alarm_id']) }}" class="STATUS">
        {% if l['state'] == "OK" %}
        <span class="STATUS OK"><img src="{{ url_for('static', filename='monitorok.png') }}" data-checkid="{{ l['check_id']|e }}" data-alarmid="{{ l['alarm_id']|e }}" data-entityid="{{ l['entity_id'] }}" alt="{{ labels[l['alarm_id']]|e }}"/>{{ labels[l['alarm_id']]|e }}</span>
        {% elif l['state'] == "WARNING" %}
        <span class="STATUS WARNING"><img src="{{ url_for('static', filename='monitorwarning.png') }}" data-checkid="{{ l['check_id']|e }}" data-alarmid="{{ l['alarm_id']|e }}" data-entityid="{{ l['entity_id'] }}" alt="{{ labels[l['alarm_id']]|e }}"/>{{ labels[l['alarm_id']]|e }}</span>
        {% else %}
        <span class="STATUS CRITICAL"><img src="{{ url_for('static', filename='monitorcritical.png') }}" data-checkid="{{ l['check_id']|e }}" data-alarmid="{{ l['alarm_id']|e }}" data-entityid="{{ l['entity_id'] }}" alt="{{ labels[l['alarm_id']]|e }}"/>{{ labels[l['alarm_id']]|e }}</span>
        {% endif %}
        </a>
        </td>
        {%- endfor -%}
    </tr>
    {% else %}
    <tr>
        <td colspan=2>No results</td>
    </tr>
    {% endfor %}
</table>
<hr/>
Showing {{ meta['count']|e }} results with limit {{ meta['limit']|e }}
{% endblock %}